AWSTemplateFormatVersion: '2010-09-09'
Description: Create SNS Topic and Email Subscription

Parameters:
  Team:
    Type: String
    Description: Team name for the SNS topic

Resources:
  SNSTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: !Sub 'evoke-hackathon-${Team}-topic'  
      Tags:
        - Key: Event
          Value: Hackathon
        - Key: Team
          Value: !Ref Team

Outputs:
  TopicArn:
    Value: !Ref SNSTopic
    Description: ARN of the SNS Topic
